#image_feed img {
  float:left;
  width:200px;
  height:200px;
  margin:10px;
  }

@media print {

    @page {
        size: auto;
        margin: 0;
    }

    #excludePrint {
        display: none;
    }

    #toPrint {
      visibility: visible;
    }

    #toPrint {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media screen {
      #toPrint {
          visibility: hidden;
      }
  }
